<div *ngIf="this.credentialsOk === false">
  <h2> Select login type </h2>

  <mat-form-field>
    <mat-select #loginOption placeholder="Select type:">
      <mat-option value="technical" (click)="setLoginOption('technical')">Technical (Setup)</mat-option>
      <mat-option value="general" (click)="setLoginOption('general')">General (Reports)</mat-option>
      <!--<mat-option value="management">Management</mat-option>-->
      <!--<mat-option value="operator">Operator</mat-option>-->
    </mat-select>
  </mat-form-field>

  <br>

  <form>
    <mat-form-field>
      <input matInput #username autocomplete="off" placeholder="Username">
    </mat-form-field>

    <br>

    <mat-form-field>
      <input matInput #password [type]="this.hidePassword ? 'password' : 'text'" autocomplete="off" placeholder="Password">
    </mat-form-field>

    <button mat-icon-button (mousedown)="this.hidePassword = !this.hidePassword;" (mouseup)="this.hidePassword = !this.hidePassword;">
      <mat-icon>visibility</mat-icon>
    </button>
  </form>

  <button mat-raised-button
          [disabled]="(loginOption.value === undefined) || (username.value === '') || (password.value === '')"
          (click)="checkCredentials(username.value, password.value, loginOption.value); this.hideSetupPage = false;">Login</button>

  <br>

  <p *ngIf="this.inputError === true" style="color: red">Invalid input. Please try again.</p>

</div>
<app-technical
        *ngIf="this.credentialsOk === true && this.loginOption === 'technical'"
        (hideSetupPageEvent)="resetLoginPage($event)"></app-technical>
<app-menu *ngIf="this.credentialsOk === true && this.loginOption === 'general'"></app-menu>

