<mat-card>
    <mat-card-content>
        <h2>Reporting Tool</h2>
        <mat-tab-group>
            <mat-tab label="Extension">
                <br/>
                <mat-form-field>
                    <mat-select #select placeholder="Report Type:">
                        <mat-option value="summary">Summary</mat-option>
                        <mat-option value="detailed">Detailed</mat-option>
                        <mat-option value="pinCode">Pin Code</mat-option>
                    </mat-select>
                </mat-form-field>
                <br/>
                <section class="example-section">
                    <mat-checkbox class="example-margin" [(ngModel)]="allowInternal">Display internal calls</mat-checkbox>
                </section>
                <br>
                <!--<button mat-raised-button (click)="view = select.value">Go</button>-->
                <app-extension-summary [allowInternal]="this.allowInternal" *ngIf="select.value === 'summary'"></app-extension-summary>
                <app-extension-detail [allowInternal]="this.allowInternal" *ngIf="select.value === 'detailed'"></app-extension-detail>
                <app-pin-code [allowInternal]="this.allowInternal" *ngIf="select.value === 'pinCode'"></app-pin-code>
            </mat-tab>
            <mat-tab label="Top Calls">
                <br/>
                <mat-form-field>
                    <mat-select #howManyCalls placeholder="Top:">
                        <mat-option value="10">10</mat-option>
                        <mat-option value="20">20</mat-option>
                        <mat-option value="40">40</mat-option>
                    </mat-select>
                </mat-form-field>
                <br/>
                <mat-form-field>
                    <mat-select #sortBy placeholder="Sort by:">
                        <!--<mat-option value="cost">Cost</mat-option>-->
                        <mat-option value="duration">Duration</mat-option>
                        <!--<mat-option value="numberDialled">Number Dialled</mat-option>-->
                    </mat-select>
                </mat-form-field>
                <br/>
                <button mat-raised-button (click)="getTopCallsByDuration(howManyCalls.value)">Proceed</button>
                <app-top-calls></app-top-calls>
            </mat-tab>
        </mat-tab-group>
    </mat-card-content>
</mat-card>


<!--<br/>-->

<!--<button mat-raised-button (click)="extSummary = true;">Extension Summary</button>-->
<!--<app-extension-summary *ngIf="extSummary"></app-extension-summary>-->


<!--<br/>-->

<!--<button mat-raised-button (click)="extDetail = true;">Extension Detail</button>-->
<!--<app-extension-detail *ngIf="extDetail"></app-extension-detail>-->