<div style="width: 100%;" *ngIf="showReport === false">

    <mat-card style="font-size: 24px">Technical Login Page</mat-card>

    <div style="margin-top: 20px; float: left; width: 500px">
        <!--<input #chooseFile type="file" (change)="uploadFile($event); showSpinner = true" accept=".csv">-->

        <!--<button mat-raised-button >Upload file</button>-->

        <!--<mat-spinner *ngIf="showSpinner === true"></mat-spinner>-->

        <!--<br>-->

        <p>Database Connection Details</p>

        <mat-form-field style="margin-right: 5px">
            <input matInput #username placeholder="Username">
        </mat-form-field>

        <mat-form-field>
            <input matInput #password placeholder="Password">
        </mat-form-field>

        <br>

        <!--<mat-form-field style="margin-right: 5px">-->
            <!--<input #name matInput placeholder="Name" [(ngModel)]="inputName">-->
        <!--</mat-form-field>-->

        <!--<mat-form-field>-->
            <!--<input #pinCode matInput placeholder="Pin code" [(ngModel)]="inputPinCode">-->
        <!--</mat-form-field>-->

        <!--<button mat-raised-button [disabled]="((inputName === null || inputName === '') || (inputPinCode === null || inputPinCode === ''))" (click)="addToList(name.value, pinCode.value)" style="margin-left: 20px">Add</button>-->

        <!--<br>-->

        <button mat-raised-button (click)="uploadDetails(username.value, password.value); hideSetupPageFunction(true)">Confirm</button>
        <p style="color: red; font-size: 12">Note: Clicking 'Confirm' will log you out. You must login again as a 'General' user to view reports.</p>

        <br>

        <button mat-raised-button (click)="hideSetupPageFunction(true)">Cancel and return to login</button>
    </div>

    <!--<mat-list *ngIf="names.length > 1" style="width: 200px; float: left">-->
        <!--<mat-list-item *ngFor="let name of names">{{name}}</mat-list-item>-->
    <!--</mat-list>-->

    <!--<mat-grid-list cols="2" rowHeight="30px" style="width: 200px; float: left; margin-top: 20px">-->
        <!--<mat-grid-tile-->
                <!--*ngFor="let name of names"-->
                <!--[colspan]="name.cols"-->
                <!--[rowspan]="name.rows">-->
            <!--{{name.text}}-->
        <!--</mat-grid-tile>-->
    <!--</mat-grid-list>-->

</div>

<!--<app-menu *ngIf="showReport === true"></app-menu>-->
<app-login-menu *ngIf="this.hideSetupPage === true"></app-login-menu>