<h4>Detailed Extension Report</h4>

<form>
    <mat-form-field>
        <input matInput #srcToSearch placeholder="Extension Number">
    </mat-form-field>
</form>

<button mat-raised-button (click)="getBySrc(srcToSearch.value)">Search</button>

<mat-table [dataSource]="dataSource" matSort>
    <ng-container matColumnDef="callDate">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Date and Time </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.callDate}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="clid">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Clid </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.clid}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="src">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Source </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.src}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="destination">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Destination </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.destination}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="duration">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Duration </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.duration}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="cost">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Cost </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.cost}}</mat-cell>
    </ng-container>


    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>
