.mat-table {
    width: 100%;
}

.mat-column {
    width: 20%;
    border-right: 1px solid gray;
    align-self: stretch;
    text-align: center;
}

/*.mat-column-numDialled {*/
    /*width: 20%;*/
    /*border-right: 1px solid gray;*/
    /*align-self: stretch;*/
    /*text-align: center;*/
/*}*/

/*.mat-column-region {*/
    /*width: 20%;*/
    /*border-right: 1px solid gray;*/
    /*align-self: stretch;*/
    /*text-align: center;*/
/*}*/

/*.mat-column-ringTime {*/
    /*width: 20%;*/
    /*border-right: 1px solid gray;*/
    /*align-self: stretch;*/
    /*text-align: center;*/
/*}*/

/*.mat-column-cost{*/
    /*width: 20%;*/
    /*border-right: 1px solid gray;*/
    /*align-self: stretch;*/
    /*text-align: center;*/
/*}*/


