<h4>Summary Extension Report</h4>

<button mat-raised-button (click)="this.initExtensions()">Generate report</button>

<!--<mat-form-field>-->
    <!--<input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">-->
<!--</mat-form-field>-->

<mat-table [dataSource]="dataSource" matSort>

    <ng-container matColumnDef="clid">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Extension Name</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.clid}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="src">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Source </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.src}} </mat-cell>
    </ng-container>

    <!--<ng-container matColumnDef="dst">-->
        <!--<mat-header-cell *matHeaderCellDef mat-sort-header> Destination </mat-header-cell>-->
        <!--<mat-cell *matCellDef="let element"> {{element.destination}} </mat-cell>-->
    <!--</ng-container>-->

    <ng-container matColumnDef="duration">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Total Duration </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.duration}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="cost">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Cost </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.cost}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="numOfCalls">
        <mat-header-cell *matHeaderCellDef mat-sort-header> # of calls </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.numOfCalls}} </mat-cell>
    </ng-container>

    <!--<ng-container matColumnDef="total">-->
        <!--<th mat-header-cell *matHeaderCellDef> Total </th>-->
        <!--<td mat-cell *matCellDef="let element"> {{element.total}} </td>-->
    <!--</ng-container>-->

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let element; columns: displayedColumns;"></mat-row>
</mat-table>
<mat-paginator
        [length]="extensions.length"
        [pageSize]="50"
        [pageIndex]="0"
        [pageSizeOptions]="[50, 100, 150]"></mat-paginator>