.mat-table {
    width: 100%;
}

/*.mat-column-ext {*/
    /*width: 16.66%;*/
    /*border-right: 1px solid gray;*/
    /*align-self: stretch;*/
    /*text-align: center;*/
/*}*/

/*.mat-column-extName {*/
    /*width: 16.66%;*/
    /*border-right: 1px solid gray;*/
    /*align-self: stretch;*/
    /*text-align: center;*/
/*}*/

/*.mat-column-local {*/
    /*width: 16.66%;*/
    /*border-right: 1px solid gray;*/
    /*align-self: stretch;*/
    /*text-align: center;*/
/*}*/

/*.mat-column-mobile {*/
    /*width: 16.66%;*/
    /*border-right: 1px solid gray;*/
    /*align-self: stretch;*/
    /*text-align: center;*/
/*}*/

/*.mat-column-int{*/
    /*width: 16.66%;*/
    /*border-right: 1px solid gray;*/
    /*align-self: stretch;*/
    /*text-align: center;*/
/*}*/

/*.mat-column-total{*/
    /*width: 16.66%;*/
    /*align-self: stretch;*/
    /*text-align: center;*/
/*}*/


